attrs==19.1.0
backcall==0.1.0
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2019.3.9
chardet==3.0.4
cssselect==1.0.3
decorator==4.4.0
dnspython==1.16.0
idna==2.8
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
jedi==0.13.3
jsonschema==3.0.1
jupyter-client==5.2.4
jupyter-core==4.4.0
lxml==4.3.2
numpy==1.16.2
pandas==0.24.2
parsel==1.5.1
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
Pygments==2.3.1
pymongo==3.7.2
pyrsistent==0.14.11
pytesseract==0.2.6
python-dateutil==2.8.0
pytz==2018.9
pyzmq==18.0.1
requests==2.21.0
selenium==3.141.0
six==1.12.0
soupsieve==1.8
tesseract==0.1.3
tornado==6.0.1
traitlets==4.3.2
urllib3==1.24.2
validator-collection==1.3.3
w3lib==1.20.0
wcwidth==0.1.7
